SERVER_BUILD=

OFFICE_ADMIN_PORT_MAP=
OFFICE_ADMIN_URL=
OFFICE_BE_ADMIN_URL=

OFFICE_FE_PORT=
OFFICE_FE_URL=
OFFICE_BE_URL=

# BE
OFFICE_BE_PORT=

FE_URLS=

EXTERNAL_FE_URLS=

JWT_EXTERNAL_SECRET=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRE_TIME=
JWT_REFRESH_EXPIRE_TIME=

OTP_SECRET=
EMAIL_SECRET=

DB_DIALECT=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_TZ=



REDIS_PASSWORD=
REDIS_PORT=

BASE_ACCESS_TOKEN=
BASE_URL=

SWAGGER_USERNAME=
SWAGGER_PASSWORD=

SERVE_STATIC_URL=

EMAIL_SENDER=
EMAIL_PASSWORD=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
API_SECRET_KEY= 
